@tailwind base;
@tailwind components;
@tailwind utilities;

/* SLIDER */

.steps-container {
    display: flex;
    flex-direction: column;
  }
  
  .steps-item {
    padding: 5px;
    min-height: 80px;
  }
  
  .vertical-slider {
    height: 380px;
    /* border: 1px solid grey; */
  }

.example-mark {
  margin-left: 19px;
    width: 12px;
    height: 12px;
    border: 2px solid green;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    /* margin: 0px calc(19px); */
    bottom: calc(50% - 6px);
  }
  
  .example-mark.example-mark-active {
    border: 2px solid #ff0000;
    box-shadow: 0 0 0 2px red;
    background-color: rgb(255, 255, 255);
  }
  
  .example-mark.example-mark-completed {
    border: 2px solid rgb(255, 255, 255);
    background-color: #ff0000;
  }
  
  .example-thumb {
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .example-thumb.active {
    background-color: grey;
  }
  
  .example-track {
    position: relative;
    background: #ddd;
    margin-left: 23px;
  }
  
  .example-track.example-track-0 {
    background: #ef4444;
  }
  
  .vertical-slider .example-thumb {
    left: 1px;
    width: 48px;
    line-height: 40px;
    height: 50px;
  }
  
  .vertical-slider .example-track {
    /* left: 23px; */
    width: 3px;
  }
  
  /* GAME RADIO BUTTONS */

.animation-pulse {
    /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
    transform: scale(0.8);*/
    animation: pulse 2s infinite ease-out;
    border-radius: 9999px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(229, 62, 62, 1);
    }

    70% {
        transform: scale(1.25);
        box-shadow: 0 0 0 15px rgba(229, 62, 62, 0);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes blink-out {
  0%, 25% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

#countdown {
  animation: blink-out 1s ease-out forwards infinite;
}
