/* .App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
} */

:root {
    --red: red;
	--blue: blue;
	--green: green;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    width: 0.3em;
}

::-webkit-scrollbar-track {
    margin: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--input-border);
    border-radius: 1em;
    outline: none;
}

button {
    cursor: pointer;
    width: 100%;
    height: 3.25em;
    box-shadow: 3px 5px black;
    transition-duration: 0.25s;
    font-size: 1.25em;
    margin: 0;
    outline: none;
    border-radius: 1em;
    padding: 1em;
    font-weight: 600;
    border: 1px solid black;
}

button:active {
    transition: 0.1s;
    transform: scale(0.98,0.98);
}

#red-btn {
    background-color: var(--red);
}

#blue-btn {
    background-color: var(--blue);
}

#green-btn {
    background-color: var(--green);
}


